#login {
  height: 100vh;
  background-image: url(https://www.barranquilla.gov.co/wp-content/uploads/2019/09/barranquilla_01945-e1569863568539.jpg);
  background-size: cover;
}

#login-card {
  background-color: #33648aef;
  border-radius: 15px;
  width: 400px;
  height: 60%;
  overflow: hidden;
}

.login-input {
  width: 70% !important;
  border-radius: 15px !important;
}

.login-card,
.form-group {
  height: 100%;
}

.login-button {
  width: 50%;
}

.btn {
  border-radius: 15px !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgb(200, 200, 200) !important;
}

.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  color: rgb(200, 200, 200) !important;
}

.no-border {
  border: 0px !important;
}

.gray-divider {
  border-top: 2px solid gray;
}

.page {
  min-height: 100vh;
}

.bg-semi-transparent {
  background-color: rgba(217, 255, 232, 1) !important;
}

#mapid {
  height: 180px;
}

.maping {
  height: 300px;
}

.leaflet-container {
  width: 400px;
  height: 400px;
}

.sizing {
  height: 300px;
  width: 100%;

  object-fit: cover !important;
}

.neg-mt {
  margin-top: -60px;
}

.card-vertical {
  max-width: 25vw !important;
  border-radius: 20px !important;
}

.card-img{
  object-fit: cover;
  max-height: 250px;
  max-width: 95%;
  border-radius: 10px !important;
  align-self: center;
}

.link-card{
  text-decoration: none;
  color: black;
}

.link-card:hover {
  color: black;
  cursor: pointer;
}

.max-card-text{
  height: 50px;
}